source https://nuget.org/api/v2
storage:none

clitool dotnet-fable
nuget Fable.Core
nuget Fable.Import.Browser
nuget Fable.Elmish
nuget Fulma
nuget Fable.Elmish.React
nuget Fable.PowerPack
nuget Fable.React