 // ******************************************************* Bulma ****************************************************
 $fa-font-path: "./../node_modules/font-awesome/fonts/";
 @import './../node_modules/font-awesome/scss/font-awesome.scss';
 
 @import './../node_modules/bulma/bulma.sass';
// ******************************************************* LAYOUT ****************************************************



// Needed otherwise iframes show a disabled scrollbar
body {
  overflow-y:auto;
  overflow-x:auto;
  font-family: Lato, 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;

 #test { 
  background-color: red
  }
}

.heroPadding  {
  padding: 3rem 1.5rem;
  padding-top: 3rem;
  padding-right: 1.5rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
}